/* reset */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", "Spoqa Han Sans Neo", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Lato", "Spoqa Han Sans Neo", "sans-serif";
  color: #1f232d;
}

h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button,
input,
select,
textarea:focus {
  box-shadow: none;
  outline: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

/* global */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.sm-only {
  display: block;
}

.sm-hidden {
  display: none;
}

.lg-only {
  display: none;
}

.container {
  padding: 0 20px;
}

.container2 {
  padding: 0 20px;
}

/* Component */

.more-button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}

.more-button img {
  width: 11px;
  display: block;
}

.browse-more-button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.effect-image {
  position: absolute;
  width: 50px;
  display: block;
}

.arrow-wrap {
  display: flex;
  align-items: center;
  margin-left: 20px;
  z-index: 10;
}

.arrow-wrap span {
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}

.arrow-image-wrap {
  width: 12px;
}

.arrow-image-wrap img {
  width: 100%;
  display: block;
}

.fade-in {
  opacity: 0;
}

.fade-in.animate {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Header */
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 200;
}

header.scroll {
  background-color: #fff;
  transition: background-color 400ms ease-in;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
}

.logo {
  padding: 0;
}

.logo-m {
  display: block;
  width: 157px;
  padding: 0;
  margin: 0;
}

.logo a img {
  width: 100%;
}
.color {
  display: block;
}

.white {
  display: none;
}

.color.logo-white {
  display: none;
}

.white.logo-white {
  display: block;
}

.sitemap-button-wrap {
  display: flex;
  align-items: center;
}

.sitemap-button {
  position: relative;
  width: 30px;
  height: 12px;
}

.sitemap-button div {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #262d3f;
  transition: transform 400ms ease-in;
}

.bar-top {
  top: 0;
  left: 0;
}

.bar-top.active {
  transform: rotate(45deg) translateY(6px);
  background-color: #fff;
}

.bar-bottom {
  bottom: 0;
  left: 0;
}

.bar-bottom.active {
  transform: rotate(-45deg) translateY(-6px);
  background-color: #fff;
}

/* MainVisual */
.main-visual {
  position: relative;
}

.main-slider-item-1 {
  background-image: url(./asset/m_mainBanner01.jpg);
}
.main-slider-item-2 {
  background-image: url(./asset/m_mainBanner02.jpg);
}
.main-slider-item-3 {
  background-image: url(./asset/m_mainBanner03.jpg);
}

.main-slider-item {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-text-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.main-text-container {
  overflow: hidden;
}

.sub-text-container {
  padding-top: 10px;
}

.main-text-wrap h1 {
  font-size: 26px;
  color: #262f40;
}

.main-slider-item.slick-active h1 {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.main-text-wrap p {
  font-size: 14px;
  color: #333;
}

.main-slider-item.slick-active p {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slick-dots {
  position: absolute;
  left: 20px;
  bottom: 46px;
  display: flex;
}

.slick-dots li.slick-active {
  background-color: #9fbee4;
  opacity: 1;
}

.slick-dots li {
  background-color: #000;
  width: 6px;
  height: 6px;
  margin-right: 25px;
  opacity: 0.3;
  border-radius: 50%;
}

.slick-dots li button {
  display: none;
}

/* About */
.about {
  padding: 140px 0 60px 25px;
  overflow: hidden;
  background: url(./asset/m_section02_bg.png) no-repeat;
  background-size: 50%;
  background-position: bottom 40px right 0;
}

.about-image-wrap {
  width: 81.25vw;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
}

.about-image-wrap img {
  width: 100%;
}

.about-title-wrap {
  margin-top: -20px;
  overflow: hidden;
}

.about-title-wrap h2 {
  font-size: 22px;
}

.about-sub-wrap {
  padding-top: 22px;
  padding-right: 30px;
}

.about-sub-wrap p {
  font-size: 14px;
  color: #7d7d7d;
}

.about .browse-more-button {
  margin-top: 40px;
}

/* Business */
.business {
  background-color: #1f232d;
  background-image: url(./asset/m_section03_bg.png);
  background-position: left top;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 55px 0;
}

.business-title {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.business-list {
  display: flex;
  flex-wrap: wrap;
}

.business-item {
  position: relative;
  width: calc(50% - 5px);
  height: 176px;
  padding: 14px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.business-item:nth-child(odd) {
  margin-right: 10px;
}

.business-item:nth-child(1),
.business-item:nth-child(2) {
  margin-bottom: 40px;
}

.business-item:nth-child(1) {
  background-image: url(./asset/m_sec03_img01.jpg);
}
.business-item:nth-child(2) {
  background-image: url(./asset/m_sec03_img02.jpg);
}
.business-item:nth-child(3) {
  background-image: url(./asset/m_sec03_img03.jpg);
}
.business-item:nth-child(4) {
  background-image: url(./asset/m_sec03_img04.jpg);
}

.business-item h3 {
  font-size: 14px;
}

.business-item:nth-child(odd) h3 {
  color: #1f232d;
}

.business-item:nth-child(even) h3 {
  color: #fff;
}

/* R&D */
.rnd-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-left: 10px;
}

.rnd-box.is-technology {
  background-image: url(./asset/m-sec04-bg01.jpg);
}
.rnd-box.is-research {
  background-image: url(./asset/m-sec04-bg02.jpg);
}

.rnd-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.rnd-text {
  font-size: 14px;
}

.rnd .browse-more-button {
  margin-top: 15px;
}

/* PR */
.pr {
  padding: 35px 0 85px;
}

.pr-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pr-title {
  font-size: 32px;
}

.pr-item {
  width: 100%;
  margin-bottom: 40px;
}

.pr-item:last-child {
  margin-bottom: 0;
}

.pr-item > div {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.pr-item div > img {
  width: 100%;
}

.pr .browse-more-button {
  margin-top: 0;
}

.pr-text {
  font-size: 14px;
  margin-top: 16px;
  font-weight: 500;
}

/* Footer */
footer {
  position: relative;
  background-color: #191e2a;
  font-size: 10px;
}

footer ul,
footer dl {
  padding: 0 25px;
}

ul.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 25px;
}

.footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  line-height: 1;
}

.footer-item:last-child {
  margin-bottom: 0;
}

ul.footer-list li a {
  display: block;
  color: #fff;
}

ul.footer-list li:not(:first-child) a {
  opacity: 0.5;
}

dl.footer-list01 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

dl.footer-list01 .footer-item {
  margin-right: 20px;
}

footer dt {
  color: #fff;
}

footer dt::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #a4a4a4;
  margin: 0 8px;
  transform: translateY(1px);
}

dl.footer-list01 dd {
  color: #a4a4a4;
}

dl.footer-list02 dd {
  color: #666;
}

dl.footer-list01 .footer-item:nth-child(3) {
  width: 100%;
}

.familly-site {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 27px 25px 44px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.familly-site p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

.familly-site img {
  display: block;
}

.familly-site-item {
  display: none;
}

.copyright {
  font-size: 14px;
  color: #666;
  padding: 0 25px 25px;
}

/* Menu */
.menu {
  /* display: none; */
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #191e29;
  background-image: url(./asset/hammenu_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  z-index: 100;
  transition: top 600ms ease-out;
}

.menu .container2 {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 78px;
}

.menu-item {
  margin-bottom: 40px;
  text-align: center;
}

.drawer-menu-button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.drawer-menu-button:hover {
  color: #9fbee4;
}

.drawer-menu-list {
  display: none;
  margin-top: 25px;
}

.drawer-menu-item {
  color: rgba(255, 255, 255, 0.4);
  transition: color 200ms ease-in;
  text-transform: uppercase;
}

.drawer-menu-item:hover {
  color: #fff;
  font-weight: 600;
}

.drawer-menu-item:not(:last-child) {
  margin-bottom: 22px;
}

.menu.active {
  top: 0;
}

@media screen and (min-width: 341px) {
  .business {
    padding: 65px 0;
  }

  .business-item {
    height: 230px;
  }

  .business-item h3 {
    font-size: 18px;
  }

  .more-button {
    width: 40px;
    height: 40px;
  }

  .rnd-box {
    height: 286px;
    padding-left: 42px;
  }

  .rnd-title {
    font-size: 32px;
  }

  .pr-text {
    font-size: 16px;
  }

  footer {
    font-size: 12px;
  }
}

/* ---------------- Tablet -----------------*/
@media screen and (min-width: 768px) {
  .sm-only {
    display: none;
  }

  .sm-hidden {
    display: block;
  }

  .container2 {
    width: 100%;
    padding: 0 6.25vw;
  }

  .container3 {
    padding: 0 6.25vw;
  }

  /* Component */
  .browse-more-button {
    width: auto;
  }

  .browse-more-button .effect-image {
    opacity: 0;
    transform: scale(0.4);
    transition: transform 150ms linear;
    margin-left: -20px;
  }

  .arrow-wrap {
    margin-left: 0;
  }

  .arrow-wrap span {
    font-size: 16px;
    margin-left: 8px;
    transition: transform 150ms linear;
  }

  .arrow-image-wrap {
    width: 15px;
  }

  .browse-more-button:hover .effect-image {
    transform: scale(1.2);
    opacity: 1;
  }

  .browse-more-button:hover span {
    transform: translateX(14px);
  }

  .main-slider-item-1 {
    background-image: url(./asset/mainBanner011.jpg);
  }
  .main-slider-item-2 {
    background-image: url(./asset/mainBanner022.jpg);
  }
  .main-slider-item-3 {
    background-image: url(./asset/mainBanner03.jpg);
  }

  .main-slider-item {
    height: 58.594vw;
  }

  .sub-text-container {
    padding-top: 35px;
  }

  .main-text-wrap {
    padding-left: 10.417vw;
  }

  .main-text-wrap h1 {
    font-size: 48px;
  }

  .main-text-wrap p {
    font-size: 16px;
  }

  .button-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5vw;
  }

  .slick-dots {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .slick-dots li.slick-active {
    background-color: #fff;
    opacity: 1;
  }

  .slick-dots li {
    background-color: #fff;
    width: 33.333%;
    height: 70px;
    margin-right: 0;
    opacity: 1;
    border-radius: 0;
  }

  .slick-dots li:not(:last-child) {
    border-right: 1px solid #f3f3f3;
  }

  .slick-dots li button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .slick-dots li button span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: block;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 200;
  }

  .slick-dots li.slick-active button span {
    color: #1f232d;
  }

  .slick-dots li.slick-active .dots-bar {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #9fbee4;
    animation-name: barWidth;
    animation-duration: 7s;
    animation-timing-function: linear;
  }

  @keyframes barWidth {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }

  /* About */
  .about {
    padding: 50px 0;
    background: url(./asset/sec02-bg01.png) no-repeat,
      url(./asset/sec02-bg02.png) no-repeat;
    background-size: 40%, 40%;
    background-position: top left, bottom right;
  }

  .about .container3 {
    display: flex;
  }

  .about-image-wrap {
    width: 50%;
    margin-left: 0;
  }

  .about-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15px;
  }

  .about-title-wrap {
    margin-top: 0;
  }

  .about-title-wrap h2 {
    font-size: 30px;
  }

  .about-sub-wrap {
    padding-top: 22px;
    padding-right: 0;
    padding-left: 60px;
  }

  .about-sub-wrap p {
    font-size: 16px;
    word-break: keep-all;
    letter-spacing: -0.5px;
    line-height: 1.6;
  }

  .about .browse-more-button {
    padding-left: 60px;
  }

  /* Business */
  .business-list {
    justify-content: space-between;
  }

  .business-item {
    width: 48%;
    height: 26.042vw;
    padding: 1.823vw;
  }

  .business-item:nth-child(odd) {
    margin-right: 0;
  }

  .business .more-button {
    right: 1.823vw;
    bottom: 1.823vw;
  }

  /* R&D */
  .rnd .container4 {
    display: flex;
  }
  .rnd-box {
    position: relative;
    width: 50%;
    height: 100vh;
    background-position: center center;
    padding-left: 40px;
    transition: 600ms ease-out;
  }

  .transform-width {
    width: 60%;
  }

  .rnd-text-wrap div.rnd-fade-in {
    transform: translateY(0);
  }

  .rnd-contents-wrap {
    position: absolute;
    bottom: 60px;
  }

  .rnd-text-wrap {
    position: relative;
    overflow: hidden;
  }

  .rnd-text-wrap div {
    transform: translateY(50px);
    transition: transform 400ms ease;
  }

  .rnd-box.is-technology {
    background-image: url(./asset/sec04-bg01.jpg);
  }
  .rnd-box.is-research {
    background-image: url(./asset/sec04-bg02.jpg);
  }

  .rnd-title {
    margin-bottom: 30px;
  }

  .rnd-text {
    font-size: 18px;
  }

  .rnd .browse-more-button {
    margin-top: 20px;
  }

  .rnd-more-button:hover .effect-image {
    transform: scale(1.1);
  }

  /* PR */
  .pr {
    padding: 50px 0;
  }

  .pr-title-wrap {
    margin-bottom: 40px;
  }

  .pr-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .pr-item {
    width: 42%;
    margin-bottom: 0;
  }

  .pr-item:nth-child(1),
  .pr-item:nth-child(2) {
    margin-bottom: 30px;
  }

  .pr-text {
    margin-top: 25px;
  }

  /* Footer */
  footer {
    padding: 50px 0;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    width: 140px;
  }

  .footer-logo a {
    display: block;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }

  footer ul,
  footer dl {
    padding: 0;
  }

  ul.footer-list {
    justify-content: flex-start;
    padding: 0;
    border-bottom: none;
    margin-bottom: 20px;
    line-height: 1;
  }

  ul.footer-list li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -8px;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #a4a4a4;
    margin: 0;
    transform: none;
  }

  ul.footer-list li:not(:last-child) {
    position: relative;
    margin-right: 16px;
  }

  .footer-item {
    margin-bottom: 0;
  }

  dl.footer-list01 {
    margin-bottom: 10px;
    font-size: 14px;
  }

  footer dt {
    color: #fff;
  }

  footer dt::after {
    margin: 0 15px;
  }

  dl.footer-list01 dd {
    color: #fff;
  }

  dl.footer-list01 .footer-item:nth-child(1) {
    order: 2;
  }

  dl.footer-list01 .footer-item:nth-child(2) {
    order: 3;
  }

  dl.footer-list01 .footer-item:nth-child(3) {
    order: 1;
    width: auto;
  }

  dl.footer-list02 dt,
  dl.footer-list02 dd {
    color: rgba(255, 255, 255, 0.5);
  }

  dl.footer-list02 {
    display: flex;
    margin-bottom: 20px;
  }

  dl.footer-list02 .footer-item:not(:last-child) {
    margin-right: 10px;
  }

  dl.footer-list02 .footer-item dt::after {
    margin: 0 10px;
  }

  .copyright {
    font-size: 12px;
    color: #666;
    padding: 0;
  }

  .familly-site {
    width: 200px;
    height: 45px;
    margin: 0;
  }

  .familly-site p {
    font-size: 14px;
  }

  /* Menu */
  .menu-list {
    align-items: flex-start;
    margin-top: 78px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  .drawer-menu-button {
    font-size: 30px;
    width: 200px;
    text-align: start;
  }

  .drawer-menu-list {
    display: flex;
    margin-top: 0;
  }

  .drawer-menu-item {
    font-size: 20px;
  }

  .drawer-menu-item:hover {
    color: #fff;
    font-weight: 600;
  }

  .drawer-menu-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

/* --------------- Desktop -----------------*/
@media screen and (min-width: 1200px) {
  .lg-only {
    display: block;
  }
  .lg-hidden {
    display: none;
  }

  .container {
    width: calc(100% - 10.417vw);
    padding: 0 60px;
  }

  .container2 {
    width: calc(100% - 10.417vw);
  }

  .container4 {
    width: calc(100% - 10.417vw);
  }

  /* Component */

  section {
    height: 100vh;
  }

  header {
    background-color: transparent;
    border-bottom: none;
  }

  .header-wrap {
    height: 112px;
    justify-content: flex-start;
  }

  .gnb {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .gnb.hidden {
    display: none;
  }

  .gnb-list {
    display: flex;
  }

  .gnb-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 3.75vw;
    font-size: 18px;
    height: 112px;
  }

  .gnb-item:last-child {
    margin-right: 0;
  }

  .gnb-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 0;
    height: 4px;
    background-color: #262d3f;
    transition: width 300ms ease-in-out;
    pointer-events: none;
  }

  .gnb-item:hover::after {
    opacity: 1;
    width: 80px;
    pointer-events: auto;
  }

  .gnb-depth-list {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    width: 225px;
    padding: 30px 0;
    background-color: #fff;
    transition: top 300ms ease-in-out, opacity 300ms ease-in-out;
    pointer-events: none;
  }

  .gnb-item:hover .gnb-depth-list {
    opacity: 1;
    top: 100%;
    pointer-events: auto;
  }

  .gnb-depth-item {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 25px;
  }

  .gnb-depth-item:last-child {
    margin-bottom: 0;
  }

  .gnb-depth-item:hover {
    opacity: 1;
  }

  .sitemap-button-wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 10.417vw;
  }

  .sitemap-button div.scrolled-rnd {
    background-color: #fff;
  }

  /* MainVisual */
  .main-slider-item {
    height: 100vh;
  }

  .main-text-wrap h1 {
    font-size: 86px;
  }

  .main-text-wrap p {
    font-size: 24px;
  }

  .button-wrap {
    width: calc(100% - 10.417vw);
  }

  .slick-dots {
    width: calc(100% - 10.417vw);
  }

  .slick-dots li {
    height: 95px;
  }

  .slick-dots li button span {
    font-size: 16px;
  }

  /* About */
  .about {
    padding: 7.552vw 0 0;
  }

  .about .container3 {
    height: 100%;
    align-items: center;
  }

  .about-image-wrap {
    width: 31.927vw;
    margin-left: 9.375vw;
  }

  .about-text-wrap {
    margin-left: -40px;
  }

  .about-title-wrap h2 {
    font-size: 48px;
  }

  .about-sub-wrap {
    padding-left: 80px;
  }

  .about .browse-more-button {
    padding-left: 80px;
  }

  /* Business */
  .business {
    display: flex;
    align-items: center;
    background-color: #fff;
    background-image: none;
  }

  .business-title {
    font-size: 42px;
    color: #1f232d;
    margin-bottom: 2.865vw;
    text-transform: capitalize;
  }

  .business-item {
    width: 18.021vw;
    height: 25.521vw;
    padding: 2.083vw;
    overflow: hidden;
  }

  .business-item:nth-child(1),
  .business-item:nth-child(2) {
    margin-bottom: 0;
  }

  .business-item:hover {
    background-color: #9fbee4;
    background-image: none;
  }

  .business-item:hover.business-item > h3 {
    color: #1f232d;
  }

  .business-text {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: -0.6px;
  }

  .business .content-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 2.083vw 2.083vw;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    z-index: 20;
  }

  .business .more-button {
    position: static;
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }

  .business .more-button img {
    width: 15px;
    pointer-events: none;
  }

  .business-item:hover .content-wrap {
    transform: translateY(0);
    opacity: 1;
  }

  .cursor-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 20.156vw;
    height: 20.156vw;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    pointer-events: none;
    opacity: 0.1;
  }

  .business-item:hover .cursor {
    display: block;
  }

  /* R&D */
  .rnd-box {
    padding-left: 80px;
  }

  .rnd-title {
    font-size: 42px;
  }

  .rnd-text {
    font-size: 20px;
  }

  /* PR */
  .pr {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-image: url(./asset/sec05-bg01.png);
    background-repeat: no-repeat;
    background-position: top 60px left;
    background-size: 50%;
  }

  .pr-title {
    font-size: 48px;
  }

  .pr-list {
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .pr-item:not(:last-child) {
    margin-right: 20px;
  }

  .pr-item:nth-child(1),
  .pr-item:nth-child(2) {
    margin-bottom: 0;
  }

  .pr-item > div {
    height: auto;
    max-height: 260px;
  }

  .pr-item div img {
    display: block;
  }

  .pr-item .browse-more-button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding-left: 42px;
    z-index: 10;
    background-color: #9fbee4;
    animation: none;
  }

  .pr-item .browse-more-button span {
    font-size: 14px;
  }

  .pr-item > div:hover .browse-more-button {
    display: flex;
  }

  /* Footer */
  footer {
    padding: 2.865vw 3.646vw;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-wrap {
    flex-direction: row;
  }

  .footer-text-wrap {
    align-items: flex-end;
    padding: 0;
  }

  .footer-item {
    margin-bottom: 0;
  }

  dl.footer-list01 {
    font-size: 12px;
  }

  dl.footer-list01 .footer-item:nth-child(2) {
    margin-right: 0;
  }

  .familly-site {
    width: 150px;
    margin-left: 30px;
  }

  .familly-site p {
    font-size: 14px;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10.417vw;
    height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 200ms ease-in;
  }

  .sidebar.scrolled-rnd {
    background-color: #1f232d;
  }

  .sidebar-button-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sidebar-button-item {
    width: 6px;
    height: 6px;
    background-color: #262f40;
    opacity: 0.3;
    margin: 7px;
    margin-bottom: 3.906vw;
  }

  .sidebar-button-item.active {
    opacity: 1;
  }

  .sidebar-button-item.scrolled-rnd {
    background-color: #fff;
  }

  .sidebar-button-item a {
    display: block;
    height: 100%;
  }

  /* Menu */
  .menu {
    background-size: 45%;
  }

  .menu-list {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .menu-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 3.729vw;
  }

  .drawer-menu-list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }

  .drawer-menu-button {
    font-size: 35px;
    width: auto;
    text-align: start;
  }

  .drawer-menu-item {
    font-size: 16px;
  }

  .drawer-menu-item:hover {
    color: #fff;
    font-weight: 600;
  }

  .drawer-menu-item:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .about-title-wrap h2 {
    font-size: 72px;
  }

  .about-sub-wrap {
    padding-top: 40px;
    padding-left: 120px;
  }

  .about .browse-more-button {
    padding-left: 120px;
  }

  .about .browse-more-button:hover .effect-image {
    transform: scale(2);
    opacity: 1;
  }

  .business-title {
    font-size: 54px;
  }

  .business-item h3 {
    font-size: 21px;
  }

  .business-text {
    font-size: 13px;
  }

  .pr-item .browse-more-button {
    padding-left: 80px;
  }

  .pr-item .browse-more-button span {
    font-size: 16px;
  }

  .footer-logo {
    width: 200px;
  }
}
